@page "/cities/list"

@inject IGetCitiesUseCase GetCitiesUseCase
@inject EventStateService EventStateService

@rendermode InteractiveServer
@attribute [StreamRendering(true)]

<CitiesMenu />

@if (EventStateService.Success.HasValue)
{
    @if (EventStateService.Success == true)
    {
        <div class="alert alert-success" role="alert">
            @EventStateService.Message
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            @EventStateService.Message
        </div>
    }
}

@if (!Ibges.Any())
{
    <Loading />
}
else
{
    <label class="form-label">Lista de cidades cadastradas pelo IBGE</label>
    <div class="align-content-center">
        Página @currentPage de @totalPages

        <button type="button" @onclick="() => ChangePage(-1)" class="btn btn-dark" disabled="@(currentPage == 1)">Anterior</button>
        <button type="button" @onclick="() => ChangePage(1)" class="btn btn-dark" disabled="@(currentPage == totalPages)">Próxima</button>

    </div>
    
    <table class="table">
        <thead>
            <tr>
                <th>Código IBGE</th>
                <th>UF</th>
                <th>Cidade</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Ibges)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.State</td>
                    <td>@item.City</td>
                    <td>
                        <a href="/cities/edit/@item.Id" class="btn btn-primary">
                            EDITAR
                        </a>
                        &nbsp;
                        <a href="/cities/delete/@item.Id" class="btn btn-danger">
                            EXCLUIR
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code
{
    public IEnumerable<Ibge> Ibges { get; set; } = Enumerable.Empty<Ibge>();

    int currentPage = 1;
    int totalPages = 1;
    int pageSize = 25;

    CancellationToken cancellationToken;

    protected override async Task OnInitializedAsync()
    {
        var totalItems = await GetCitiesUseCase.GetTotalItemCountAsync(cancellationToken);
        totalPages = (int)Math.Ceiling((double)totalItems / pageSize);

        await LoadData();
    }

    private async void ChangePage(int change)
    {
        currentPage += change;
        if (currentPage < 1)
        {
            currentPage = 1;
        }
        else if (currentPage > totalPages)
        {
            currentPage = totalPages;
        }

        await LoadData();
    }

    private async Task LoadData()
    {
        try
        {
            Ibges = await GetCitiesUseCase.GetAllIbgeAsync(cancellationToken, (currentPage - 1) * pageSize, pageSize);
        }
        catch (Exception ex)
        {
            EventStateService.Message = $"Ocorreu um erro: {ex.Message}";
            EventStateService.Success = false;
        }
        finally
        {
            StateHasChanged();
        }
    }
}
